@model IEnumerable<Cadastral.Models.LandViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateLand")
</p>
<table class="table">
    <tr>
        <th>
            Cadastr
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            Owner
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Cadastr.CadastrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Name)
                @Html.DisplayFor(modelItem => item.Owner.Surname)
            </td>
            <td>
                @Html.ActionLink("Edit Land data", "EditLand", new { id = item.LandId }) |
                @if (User.IsInRole("Administration") || User.IsInRole("Moderator"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.LandId })
                }
            </td>
        </tr>
    }


</table>


<div>
    @Html.ActionLink("Back to List", "Index", "Cadastr")
</div>

