@model Cadastral.Models.ImmovableViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ImmovableViewModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Land Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImmovableType.ImmovableTypeName)
        </dd>

        <dt>
            Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onwer.Owner)
        </dd>

        <dt>
            Cadastr
        </dt>

        <dd>
            @Html.DisplayFor(x => x.Cadastr.CadastrName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImmovableId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImmovableId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
